<div class="container">
    <div class="jumbotron">
        <h1>500 Internal Service Error</h1>
        <p>Uh oh, we had a problem while trying to fulfill your request.
           Sorry about that! Maybe try again later?</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Home</a></p>
    </div>
</div>