<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Kappa Theta Pi!</h1>
        <p>We're still getting everything set up right now, but please check back later!</p>
    </div>
</div>