
<div class="container">
    <div class="jumbotron">
        <h1>You've been logged out</h1>
        <p>Come back soon 😢</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
            <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        </p>
    </div>
</div>