<div class="container">
    <form method="POST">
        <h3>Login</h3>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" placeholder="Email" name="email" autofocus/>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">P</span>
            <input type="password" class="form-control" placeholder="Password" name="password"/>
        </div>
        <div class="input-group input-group-lg">
            <input type="submit" class="btn btn-primary" value="Login"/>
        </div>
    </form>
</div>