<div class="container">
    <form method="POST">
        <h3>Change Password</h3>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">O</span>
            <input type="password" class="form-control" placeholder="Old Password" name="old_password" required autofocus/>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">N</span>
            <input type="password" class="form-control" placeholder="New Password" name="new_password" required/>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">C</span>
            <input type="password" class="form-control" placeholder="Confirm New Password" name="confirm_password" required/>
        </div>
        <div class="input-group input-group-lg">
            <input type="submit" class="btn btn-primary" value="Update"/>
        </div>
    </form>
</div>