<div class="container">
    <div class="jumbotron">
        <h1>New Member Added!</h1>
        <p>New member {{first_name}} {{last_name}} was successfully added.</p>
        <p><a class="btn btn-primary btn-lg" href="/members/create" role="button">Add Another</a></p>
    </div>
</div>