doctype html
html
    head
        title ktp web app
        link(rel='shortcut icon',type='image/ico',href='/img/favicon.ico')
        link(rel='stylesheet', href='/css/app.min.css')
        link(rel='stylesheet', href='/appstyles/login.css')
    body
        h2 welcome !!!
        p= JSON.stringify(member)
        a(href='/app/pitch/new') new pitch
        br
        a(href='/app/pitch/all') see all pitches
        script(src='/lib/js/jquery.min.js')
        script(src='/js/app.js')