extends main
block content
    .header
        img(src="")
        .name
            h1= "Welcome " + member.first_name
    .feed
        h1 This is the future news feed!
        p Maybe it will be a live twitter feed?
        p ooh looks like there is a 
            a(href="https://scotch.io/tutorials/build-a-real-time-twitter-stream-with-node-and-react-js") tutorial
            |  for that already, nice!