@css {

    * {
        text-align: center;
        margin: 0;
        padding: 0;
    }

}

html,body 
    text-align center
    height 100%
    margin 0
    .header
        height 10%
        background-color #3F3F3F
        text-align left
        img
            height 3em
            width 3em
            margin-right 1em
            display inline-block
            vertical-align middle
            border-radius 50%
        .home
            float left
            margin-left 1em
            margin-top .5em
            cursor pointer
            img
                height 3em
                width 13em
                border-radius 5px
        .name
            float right
            margin-right 2em
            margin-top .3em
            .profileButton
                background-color rgba(103, 103, 103,.9)
                border-radius 5px
                padding .3em
                cursor pointer
                h1
                    color white
                    font-size 2em
                    vertical-align middle
                    display inline-block
            .profileDropdown
                position absolute
                z-index 2
                width 280px
                display none
                background-color rgba(103, 103, 103,.9)
                padding .5em
                cursor pointer
                .dropdown
                    height 3em
                    &:hover
                        opacity .4
                    h1
                        color white
                        font-size 1.5em
                        vertical-align middle
                        display inline-block
                        margin-top .3em
                    img
                        float left
                        height 2.5em
                        width 2.5em

.boxEffect {
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.boxEffect:before, .effect8:after {
    content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.boxEffect:after {
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}  


@require 'profile/edit'
@require 'profile/profile'
@require 'members/members'