doctype html
html
    head
        title ktp web app
        link(rel='shortcut icon',type='image/ico',href='/img/favicon.ico')
        link(rel='stylesheet', href='/css/app.min.css')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:100,300,400,600,800')
    body
        .header
            a(href="/app")
                .home
                    img(src="/img/KTP.png")
            .name
                .profileButton(data-click="profileDropdown")
                    img(src=member.prof_pic_url)
                    h1= member.first_name + " " + member.last_name
                .profileDropdown(data-toggle="profileDropdown")
                    a(href="/app/profile")
                        .dropdown
                            img(src="/img/Profile.svg")
                            h1 Profile
                    a(href="/app/profile/edit")
                        .dropdown
                            img(src="/img/ProfileEdit.svg")
                            h1 Edit Profile
                    a(href="/app/members")
                        .dropdown
                            img(src="/img/MemberList.svg")
                            h1 Member List                            

        block content
        script(src='/lib/js/jquery.min.js')
        script(src='/js/app.js')