doctype html
html
    head
        title ktp web app
        link(rel='shortcut icon',type='image/ico',href='/img/favicon.ico')
        link(rel='stylesheet', href='/css/app.min.css')
    body
        block content
        script(src='/lib/js/jquery.min.js')
        script(src='/js/app.js')