section#contact
    if message.length > 0
        div= message
    form(action='/app/signup',method='post',style='position:absolute;top:40%;left:40%;')
        div
            input(type='text',name='email',placeholder='Email',required)
        div
            input(type='password',name='password',placeholder='Password',required)
        button(type='submit') Signup