#about{
	text-align: center;

}

#AboutPic{
	background: url(../img/members3.png);
    background-size: cover;
    background-position: center -50px;
	width: 100%;
	height: 500px;
	position: relative;
	z-index: -1;
}

#AboutPic p{
	font-size: 3.0em;
	color: white;
    padding-top: 550px;
}


#welcome {
	background: url('../img/binding_dark.png') repeat;
	position: relative;
	top: -10px;
    color: white;
}

#welcome h1{
	font-size: 3.0em;
	font-family: 'Roboto', sans-serif;
	padding: .5em;
}

#welcome p{
	padding: .5em;
	font-size: 2em;
}

#vision {
	background: url(../img/wordCloud.png);
	background-repeat: no-repeat;
	background-position: center;
	opacity: .5;
	width: 100%;
	height: 625px;
	padding: .5em;
}

#funFacts{
	background-color: #7F98FD;

}

#aboutFinal{
	background-color: #00F32A;
	height:300px;
}

#aboutFinal p{
	color: black;
	font-size: 3.0em;
	padding-top: 2em;
}

