#about{
	text-align: center;
}

#AboutPic{
	background: url(../img/members3.png);
    background-size: cover;
    background-position: center -50px;
	width: 100%;
	height: 500px;
	position: relative;
	z-index: -1;
}

#AboutPic p{
	font-size: 3.0em;
	color: white;
    padding-top: 325px;
}

#shadow {
    height: 500px;
    background: black;
    background: url('../img/fake_brick.png') repeat;
    opacity: 0;   
}
    #shadow p {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }

#welcome {
    background: #458FFF;
	position: relative;
    height: 680px;
}

#welcome_text {
    float: left;
    width: 60%;
    color: white;
	padding: .5em;
	font-size: 2em;
    padding: 1.5em 0em 0em 3em;
    text-align: justify;
}

#welcome_text span {
    color: #99C2FE;
    font-weight: bold;
}

    .monospaced {
        font-family: monospace;
    }

    @-webkit-keyframes blink {
        from, to { border-color: transparent }
        50% { border-color: #99C2FE; }
    }

    @-moz-keyframes blink {
        from, to { border-color: transparent }
        50% { border-color: #99C2FE; }
    }

    .monospacedCursor {
        width:100px;
        height:100px;
        border-left: 8px solid #99C2FE;
        font-family: monospace;
        -webkit-animation: 1s blink step-end infinite;
        -moz-animation: 1s blink step-end infinite;
    }

div #welcome_text p .signedoff {
    text-align: right;
}

#welcome_pic{
    float: right;
    width: 40%;
    padding: 2em 20px;
}

#social_media_links {
    height: 200px;
    background: white;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.fa-custom {
    font-size: 10em;
    color: gray;
    -webkit-transition: 350ms;
    transition: 350ms;
}

.fa-custom:hover {
    color: #458FFF;
}


/*
#vision {
	background: url(../img/wordCloud.png);
	background-repeat: no-repeat;
	background-position: center;
	opacity: .5;
	width: 100%;
	height: 625px;
	padding: .5em;
}*/

#aboutFinal{
	background: url('../img/binding_dark.png') repeat;
    padding-top: 2.5em;
    padding-right: 50px;
    padding-left: 50px;
    text-align: justify;
}

#aboutFinal p{
	color: #FFFFFF;
	font-size: 20px;
}

#aboutFinal img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
}
    .centered { text-align: center; }


.social_niceSquare {
    display: inline-block;
    height: 15em;
    width: 15em;
/*    border: 2px solid black;
    background-color: gray;*/
    margin-right: 1.5em;
    margin-left: 1.5em;
}





/* mobile css for about doe */

/* JDUBS
 * For now it's to clean it up, could be better for sure
 *
 */ 


/* Tablets...most (portrait and landscape) ----------- */
@media only screen and (max-width : 1024px) {

    /*--HOME CSS--*/

    #home h1 {
        font-size: 5.8em;
        padding: 0.2em;
        padding-top: 2.6em;
    }
    #home_content_3 > p {
        padding-top: 4.5em;   
    }

}



@media only screen and (max-width : 1175px) {

    #welcome_text {
        text-align: center;
        width: 100%;
        padding: .5em;
    }
    #welcome_pic {
        display: none;
    }

    .social_niceSquare {
        font-size: .6em;
    }

    #social_media_links {
        height: 150px;
    }

}

@media only screen and (max-width : 736px) {

    #AboutPic {
        background-position: center;
    }

    #AboutPic p {
        font-size: 1.9em;
    }

}


@media only screen and (max-width : 700px) {

    #welcome_text {
        font-size: 1.5em;
    }

}

@media only screen and (max-width : 525px) {

    .social_niceSquare {
        width: 10em;
    }

}



