body {
  padding-top: 70px; }

.monospace {
  font-family: Courier, monospace; }

.input-group {
  margin-bottom: 10px; }
  .input-group .input-group-addon {
    min-width: 60px;
    vertical-align: top; }
    .input-group .input-group-addon img {
      max-height: 90%; }
  .input-group textarea {
    min-height: 100px; }

.bg-navy {
  background-color: #1D3F59;
  color: white; }
