// put profile styling here
.content
    	height auto
    	background: url('/img/husk.png') repeat;
    	.firstWrapper
    		height 28em
    		.rectangleInfo
	    		width 40%
	    		height 20em
	    		margin 5%
	    		border-radius: 15px;
	    		h2
	    			margin-top .5em
	    			margin-bottom .5em
	    			font-size 2em
	    		.info
	    			width 40%
	    			margin 0% 5% 5% 5%
	    			float left
	    			p
	    				margin-bottom 1em
	    				font-size 1.3em
	    				text-align left
	    		.data
	    			p
	    				text-align center
	    	.personal
	    		float left
	    		background-color #27637C
	    		color #CDCDCD
	    	.fraternity
	    		float right
	    		background-color #B4DCED
    	.bio
    		width 100%
    		height 10em
    		background-color rgba(181, 181, 181, 0.74)