<!doctype html>
<head>
    {{!-- Styling --}}
    <link rel="stylesheet" href="/static/packages/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>

    {{!-- JS Libraries --}}
    <script src="/static/packages/jquery/dist/jquery.min.js"></script>
    <script src="/static/packages/bootstrap/dist/js/bootstrap.min.js"></script>

    <title>Kappa Theta Pi</title>
</head>

<body>
    {{> header this }}
    {{{ body }}}
</body>