.content_edit
	h2
		color gray
	form
		
		p
			color #813030
		.uniqname
			color #27637C
		input:focus {
			box-shadow 0px 0px 3px 1px #19ff19
		}
		textarea:focus{
			box-shadow 0px 0px 3px 1px #19ff19
		}

