.content_edit
	height auto
	width 80%
	margin-left auto
	margin-right auto
	background: url('/img/husk.png') repeat;
	h2
		color gray
	form
		
		p
			color #813030
		.uniqname
			color #27637C
		input:focus {
			box-shadow 0px 0px 3px 1px #19ff19
		}
		textarea:focus{
			box-shadow 0px 0px 3px 1px #19ff19
		}

	color #2C2313
	.info
		width 100%
	.describe
		p
			display inline-block
			text-align left
			width 8em
		input
			display inline-block
		.data
			display block
	button
		font-size 1em
