$primary-color-navy:        #1D3F59;
$primary-color-green:       #6FC381;
$primary-color-purple:      #BE90D4;
$primary-color-red:         #FA5C57;
$primary-color-yellow:      #FCB606;
$primary-color-lightblue:   #59ABE3;

$color-light-grey:          #EFEFEF;
$color-med-grey:            #D1D1D1;

$navbar-height: 50px;