$primary-color-navy:        #1D3F59;
$primary-color-green:       #6FC381;
$primary-color-purple:      #BE90D4;
$primary-color-red:         #FA5C57;
$primary-color-yellow:      #FCB606;
$primary-color-lightblue:   #59ABE3;

$navbar-height: 50px;

body {
    padding-top: $navbar-height + 20px;
}

.monospace {
    font-family: Courier, monospace;
}

.input-group {
    margin-bottom: 10px;

    .input-group-addon {
        min-width: 60px;
        vertical-align: top;

        img {
            max-height: 90%;
            max-width: 90%;
        }
    }

    textarea {
        min-height: 100px;
    }

    img {
        max-width: 80%;
    }
}

.bg-navy {
    background-color: $primary-color-navy;
    color: white;
}

// AMOS CSS FOR HOME PAGE

.navbar a{
    font-weight: bolder;
    text-transform: uppercase;
}

#home-jumbo{

    background-color: white;

    h2 {
        text-align: center;
        margin: 40px;
        margin-bottom: 20px;
    }

    .btn{
        background-color: #93C65C;
        border: 0px;
    }

    img {
        margin-top: 100px;
        display: inline-block !important;
        max-height: 100px;
    }
}

#home-page{
    background: LightGray;

    .col-sm-4{
    }
    .row{
    }
    .panel{
        box-shadow: 0px 0px 10px black;
        margin: 30px;
    }
    img {
        display: inline-block;
        border: 10px black;
        padding: 20px;
    }

    h2{
        font-weight: bold;
        margin: 0px;
        font-size: 20px;
    }

    p { 
        font-size: 20px;
        line-height: 1.2;
    }

    .panel-footer{
        height: 50px;
    }

}
    
    
