.members
	text-align left
	width 100%
	background url('/img/grey_wash_wall.png') repeat;
	padding-bottom 5em
	h2
		font-size 3em
		padding 0.7em 0
		font-weight 400
		color #FFF
		text-align center
		text-shadow 5px 5px 5px rgba(0,0,0,0.5)
	.memberBox
		width 70%
		margin 0 15%
		background-color #FFF
		transition all 0.5s
		cursor pointer
		padding 1.5em
		color #555
		border-bottom 1px solid #EEE
		box-shadow 5px 5px 5px rgba(0,0,0,0.5)
		&:hover
			background-color #EEE
		.memberBoxFirst
			font-size 1.2em
			font-weight 300
			text-align left
			img
				height 3em
				width 3em
				margin-right 1em
				display inline-block
				vertical-align middle
				border-radius 50%
			p
				display inline-block
		.memberBoxMore
			display none
			font-size 1em
			font-weight 400
			color #555
			padding 0.5em 1em 0em 1em
			min-height 12em
			transition 0.5s
			.member-one-third
				width 30%
				display block
				float left
				margin 1.5%
				h3
					font-size 0.8em
					letter-spacing 0.1em
					padding-bottom 0.1em
					color #888
					font-weight 200
					text-transform uppercase
					margin-bottom 1em
				p
					padding-bottom 0.5em
				a
					text-decoration none
					color #458FFF
					padding-bottom 0.1em
					border-bottom 1px solid transparent
					&:hover
						border-bottom 1px solid #458FFF