.members
	.memberBox
		height 4em
		background-color gray
		transition all .02s
		cursor pointer
		&:hover
			background-color #BAB7B7
		.memberBoxFirst
			color black
		.memberBoxMore
			display none