.members
	text-align left
	width 100%
	background url('/img/grey_wash_wall.png') repeat;
	padding-bottom 3em
	.memberBox
		width 70%
		margin 0 15%
		background-color #FFF
		transition all .03s
		cursor pointer
		padding 1.5em
		color #555
		border-bottom 1px solid #EEE
		box-shadow 5px 5px 5px rgba(0,0,0,0.5)
		&:hover
			background-color #EEE
		.memberBoxFirst
			font-size 1.2em
			font-weight 300
			text-align left
		.memberBoxMore
			display none
			font-size 1em
			font-weight 400
			color #555
			padding 0.5em 1em 0em 1em
			min-height 10em
			p
				padding-bottom 0.5em
			a
				text-decoration none
				color #458FFF
				padding-bottom 0.1em
				border-bottom 1px solid transparent
				&:hover
					border-bottom 1px solid #458FFF
			.member-one-third
				width 30%
				display block
				float left
				margin 1.5%