<div class="footer">
	<div class="container">
		<div class="row" id="footer-links">
			<div class="col-xs-4 col-sm-2">
				<h4>SCHOOL</h4>
				<ul class="list-unstyled">
					<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link 1</a></li>
					<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link 2</a></li>
					<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link 3</a></li>
				</ul>
			</div>

			<div class="col-xs-4 col-sm-2">
				<h4>MEMBERS</h4>
				<ul class="list-unstyled">
					<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link 1</a></li>
					<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link 2</a></li>
					<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link 3</a></li>
				</ul>
			</div>

			<div class="col-xs-4 col-sm-2">
				<h4>EVENTS</h4>
				<ul class="list-unstyled">
					<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link 1</a></li>
					<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link 2</a></li>
					<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link 3</a></li>
				</ul>
			</div>
			<div class="col-sm-6" id="credits">
				<h4>Website built by the Kappa Theta Pi Development eam</h4>
				<p>Copyright &copy; 2016 Kappa Theta Pi</p>
			</div>
		</div>
		<div class="row" id="footer-social-icons">
			<div class="col-xs-2 col-sm-1">
				<img src="http://placehold.it/50x50" class="img-responsive img-circle">
			</div>
			<div class="col-xs-2 col-sm-1">
				<img src="http://placehold.it/50x50" class="img-responsive img-circle">
			</div>
			<div class="col-xs-2 col-sm-1">
				<img src="http://placehold.it/50x50" class="img-responsive img-circle">
			</div>
			<div class="col-xs-2 col-sm-1">
				<img src="http://placehold.it/50x50" class="img-responsive img-circle">
			</div>
			<div class="col-xs-2 col-sm-1">
				<img src="http://placehold.it/50x50" class="img-responsive img-circle">
			</div>
		</div>
	</div>
</div>