doctype html
html
    head
        title ktp web app
        link(rel='shortcut icon',type='image/ico',href='/img/favicon.ico')
        link(rel='stylesheet', href='/css/app.min.css')
    body
        a(href='/app',style='position:absolute;left:5%;top:2.5%;') home
        a(href='/app/pitch/all',style='position:absolute;left:5%;top:5%;') all pitches
        block content
        script(src='/lib/js/jquery.min.js')
        script(src='/js/app.js')